# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

archive.zip
olist_customers_dataset.zip
HRhd2Y0.png
mission_project_5.pdf
pickle_data_automatic_segmentation.pkl
pickle_data_RFM_segmentation.pkl
pickle_dataset_merged.pkl
pickle_dataset_time_analysis.pkl
project_5.ipynb
project_5_automatic_segmentation.ipynb
project_5_automatic_segmentation_v3.ipynb
project_5_cleaning.ipynb
project_5_RFM_segmentation_v2.ipynb